html {
        height: 100%;
}
body {
        background-image: url("others/role_bg05.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
}
textarea {
        resize: none;
        font-size: 12px;
        background-image: url("character/180231.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
        font-weight: bold;
}
#canvas-wrapper{
        position: relative;
        width: 500px;
        height: 500px;
        margin: 50px auto;
}
#board{
        display: block;
        position: absolute;
        background-image: url("others/ft_bg.jpg");
        background-repeat: no-repeat;
        border: 10px solid black;
        box-shadow: 5px 5px 5px #6F6767;
        z-index: -1;
}
#controller{
        position: absolute;
        top: 325px;
        left: 365px;
        background-color: rgba(0, 85, 116, 0.7);
        height: 150px;
        width: 110px;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        font-size: 10px;
        z-index: 1;
}
#controller .choose-btn{
        display: inline-block;
        padding: 8px 36px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;
        color:orange;
        margin-top: 7px;
        white-space: nowrap;
        box-shadow: 3px 3px 3px #6F6767;
        z-index: 3;
}
#controller #atk-choose-btn{
        background-color: black;
}
#controller #def-choose-btn{
        background-color: green;
}
#controller #rec-choose-btn{
        background-color: blue;
}
#nextturn-btn{
        color:orange;
        font-size: 20px;
        font-weight: bold;
        background-color: #DDDDDD;
        padding: 15px 40px;
        border-radius: 10px;
        box-shadow:  5px 5px 5px #6F6767;
}
#reboot-btn{
        color:orange;
        font-size: 20px;
        font-weight: bold;
        background-color: #DDDDDD;
        padding: 15px 40px;
        border-radius: 10px;
        box-shadow:  5px 5px 5px #6F6767;
}
#record{
        position: absolute;
        top: 325px;
        left: 15px;
        background-color: rgba(0, 85, 116, 0.7);
        height: 150px;
        width: 300px;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        font-size: 10px;
        z-index: 1;
}
#recordmsg{
        background-color: #DDDDDD;
        padding: 5px;
        border-radius: 10px;
        box-shadow:  5px 5px 5px #6F6767;
        z-index: 2;
}
#start{
        position: absolute;
        top: 10px; left: 10px;
        background-image: url("others/start.png");
        background-repeat: no-repeat;
        background-position: center; 
        background-size: contain;
        padding: 50%;
        z-index: 100;
}
#dice{
        position: absolute;
        top: 10px; left: 10px;
        background-image: url("others/dice.gif");
        padding: 50%; 
        z-index: 100;
}
#win{
        position: absolute;
        top: 10px; left: 10px;
        background-image: url("others/win.png");
        padding: 50%;
        background-repeat: no-repeat;
        z-index: 0;
}
#player1{
        position: absolute;
        top: 160px; left: 10px;
        background-image: url("character/p1_0.png");
        padding: 50%;
        background-repeat: no-repeat;
        z-index: 0;
}
#player2{
        position: absolute;
        top: 160px; left: 390px;
        background-image: url("character/p1_0.png");
        padding: 50%;
        background-repeat: no-repeat;
        z-index: 0;
}
#player1-choose{
        position: absolute;
        top: 225px; left: 40px;
        background-image: url("others/atk.png");
        padding: 50%;
        background-repeat: no-repeat;
        z-index: 0;
}
#player2-choose{
        position: absolute;
        top: 225px; left: 410px;
        background-image: url("others/atk.png");
        padding: 50%;
        background-repeat: no-repeat;
        z-index: 0;
}
#music{
        position: absolute;
        top: 25px;
        left: 210px;
        background-color: #6F6767;
        height: 25px;
        width: 100px;
        border-radius: 100px;
        padding: 1px;
        z-index: 1;
}
#music .choose-btn{
        display: inline-block;
        padding: 15px;
        background-repeat: no-repeat;
        z-index: 3;
}
#music #previous-choose-btn{
        background-image: url(music/previous.png);
}
#music #play-choose-btn{
        background-image: url(music/play.png);
}
#music #next-choose-btn{
        background-image: url(music/next.png);
}